# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# visual studio stuff
*.vcxproj
*.vcxproj.*
*.sln
/.vs
/x86
/x86_64
.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
notes.md

.vs
bin/Debug
obj
/.vs
/RTXLauncher-Tests/bin
/RTXLauncher-Tests/bin/Debug
/RTXLauncher-Tests/obj
RTXLauncher/bin/Release/net8.0-windows/win-x64/RTXLauncher.deps.json
RTXLauncher/bin/Release/net8.0-windows/win-x64/publish/settings.xml
RTXLauncher/bin/Release/net8.0-windows/win-x64/RTXLauncher.pdb
RTXLauncher/bin/Release/net8.0-windows/win-x64/RTXLauncher.runtimeconfig.json
RTXLauncher/bin/Release/net8.0-windows/win-x64/settings.xml
RTXLauncher/bin/Release/net8.0-windows/RTXLauncher.runtimeconfig.json
RTXLauncher/bin/Release/net8.0-windows/RTXLauncher.pdb
RTXLauncher/bin/Release/net8.0-windows/RTXLauncher.deps.json
/RTXLauncher/bin/Release/net8.0-windows/win-x64/publish-packedfully
/RTXLauncher.Core/bin
/RTXLauncher.WinForms/bin/Debug
/RTXLauncher.WinForms/bin/Release
*.pdb
RTXLauncher.WinForms/bin/Publish/win-x64/settings.xml
/RTXLauncher.Core/bin/Release
/RTXLauncher.Core/bin
