@import "/XGUI/FunctionStyles/FunctionStyles.scss";

//////////////

$default-text-size: 12px;
$default-text-font: "Segoe UI", "Inter", sans-serif;
$default-text-smooth: always;

$window-title-text-size: 12px;
$window-title-text-weight: normal;

//////////////

// Avalonia Simple Dark Theme Colors
// Based on Avalonia.Themes.Simple/Accents/Base.xaml Dark variant

$active-title: #505050;
$title-text: #DEDEDE;
$inactive-title: #282828;
$inactive-title-text: #808080;

$active-border: #505050;
$inactive-border: #505050;

$window: #282828;
$window-text: #DEDEDE;
$window-frame: #000000;

$scrollbar: #505050;

$menu: #505050;
$menu-text: #DEDEDE;

$app-workspace: #282828;

$info-text: #DEDEDE;
$info-window: #505050;

$highlight: #119EDA;
$highlight-text: #FFFFFF;
$highlight-tint: #096085;

$grey-text: #808080;

$button-face: #505050;
$button-shadow: #808080;
$button-text: #DEDEDE;
$button-highlight: #808080;
$button-dark-shadow: #808080;
$button-light: #808080;

$background: #282828;

@import "/XGUI/DefaultStyles/BaseStyles/Windows.scss";
@import "/XGUI/DefaultStyles/BaseStyles/Windows+VisualStyleQuirks.scss";

// -------------------------------------- //
//    Avalonia Simple Dark Overrides      //
// -------------------------------------- //

// Additional colors for finer control
$theme-border-low: #505050;
$theme-border-mid: #808080;
$theme-border-high: #A0A0A0;
$theme-control-mid: #505050;
$theme-control-mid-high: #686868;
$theme-foreground: #DEDEDE; // Alias for $window-text

// Window styling overrides
.Window {
        border-radius: 0px;
        box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.5);
        border: 1px solid $theme-border-low;
        background-color: $window;

        .window-content {
            background-color: $window;
        }

        &.unfocused {
            >.TitleBar {
                background-color: $window;
                color: $grey-text;

                >.Control {
                    color: $grey-text;
                }
            }
        }

        >.TitleBar {
            padding: 0px;
            height: 30px;
            background-color: $menu;
            color: $window-text;
            border-bottom: 1px solid $theme-border-low;

            .Control {
                width: 45px;
                height: 29px;
                border: none;
                border-radius: 0px;
                font-size: 10px;
                transition: all 0.1s linear;
                background-color: transparent;
                color: $window-text;

                &:hover {
                    background-color: $theme-control-mid-high;
                }

                &:active {
                    background-color: $button-face;
                }
            }

            .TitleIcon {
                margin-left: 8px;
                margin-top: 1px;
            }

            .CloseButton {
                margin-left: 0px;
                margin-right: 0px;

                &:hover {
                    background-color: #C42B1C;
                    color: white;
                }

                &:active {
                    background-color: #A52818;
                }
            }
        }
    }


// Button styling overrides
.button {
    background-color: $button-face;
    border: 1px solid $theme-border-mid;
    border-radius: 3px;
    color: $button-text;
    transition: all 0.1s linear;

    &:hover {
        background-color: $theme-control-mid-high;
        border-color: $theme-border-high;
    }

    &:active {
        background-color: $button-face;
        border-color: $theme-border-mid;
    }
}

// CheckBox styling overrides
.checkbox {

    .checkpanel,
    iconpanel {
        transition: all 0.1s linear;
        border: 1px solid $theme-border-mid;
        border-radius: 3px;
        background-color: $button-face;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;

        &:hover {
            background-color: $theme-control-mid-high;
            border-color: $theme-border-high;
        }

        &:active {
            background-color: $button-face;
        }
    }

    &.checked {

        >.checkpanel,
        .iconpanel {
            border: 1px solid $highlight;
            background-color: $highlight;

            .checklabel {
                color: white;
            }
        }

        &:hover {

            >.checkpanel,
            .iconpanel {
                background-color: #1AAEEA;
            }
        }
    }
}

// RadioButton styling overrides
.radiobutton {

    .checkpanel,
    iconpanel {
        transition: all 0.1s linear;
        border: 1px solid $theme-border-mid;
        border-radius: 8px;
        background-color: $button-face;
        width: 16px;
        height: 16px;
        min-width: 16px;
        min-height: 16px;
        justify-content: center;
        align-items: center;

        >.checklabel {
            width: 6px;
            height: 6px;
            background-color: white;
            border-radius: 8px;
        }
    }

    &:hover {

        .checkpanel,
        iconpanel {
            background-color: $theme-control-mid-high;
            border-color: $theme-border-high;
        }
    }

    &:active {

        .checkpanel,
        iconpanel {
            background-color: $button-face;
        }
    }

    &.checked {

        >.checkpanel,
        .iconpanel {
            border: 1px solid $highlight;
            background-color: $highlight;

            .checklabel {
                background-color: white;
            }
        }

        &:hover {

            >.checkpanel,
            .iconpanel {
                background-color: #1AAEEA;
            }
        }
    }
}

// TextEntry / TextBox styling overrides
.textentry,
.textbox {
	min-height: 22px;
    background-color: $button-face;
    border-radius: 3px;
    border: 1px solid $theme-border-mid;
    color: $window-text;
    transition: all 0.1s linear;

    &:hover {
        border-color: $theme-border-high;
    }

    &:focus {
        border-color: $highlight;
    }
}

// ComboBox / Select styling
.combobox,
.selector {
	min-height: 22px;
    >.selector_indicator {
        border: 0px;
        background-color: transparent; 
        font-size: 10px;
        top: 2px;
        align-items: center;
    }
}

// ProgressBar styling
progressbar,
.progressbar {
    background-color: $button-face;
    border: 1px solid $theme-border-mid;
    height: 20px;
    border-radius: 3px;
    overflow: hidden;

    .progressbar-fill {
        background-color: $highlight;
        height: 100%;
    }
}

// TabContainer styling
.TabContainer {
    >.tabs {
        background-color: $window;
        border-bottom: 1px solid $theme-border-low;

        >.button {
            background-color: transparent;
            border: none;
            border-bottom: 2px solid transparent;
            border-radius: 0px;
            color: $grey-text;
            transition: all 0.1s linear;

            &:hover {
                background-color: $button-face;
                color: $window-text;
            }

            &.active {
                background-color: transparent;
                border-bottom: 2px solid $highlight;
                color: $window-text;
            }
        }
    }

    >.sheets {
        background-color: $window;
        border: 1px solid $theme-border-low;
        border-top: none;
    }
}

// Context Menu
.ContextMenu {
    border-radius: 3px;
    background-color: $menu;
    border: 1px solid $theme-border-mid;
    padding: 4px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);

    .Menu-Separator {
        border: 0px;
        background-color: $theme-border-low;
        height: 1px;
        margin: 4px 0;
    }

    .MenuItem {
        min-height: 24px;
        border-radius: 2px;
        color: $menu-text;
        padding: 4px 8px;

        &:hover {
            background-color: $theme-control-mid-high;
        }

        &.open,
        &:active {
            background-color: $button-face;
        }
    }
}

// Toolbar
.toolbar {
    background-color: $menu;
    border-bottom: 1px solid $theme-border-low;

    &.menu-toolbar {
        background-color: $menu;
    }

    .menu-item {
        margin: 0px;
        border-radius: 0px;
        border: none;
        color: $menu-text;
        transition: all 0.1s linear;

        &:hover {
            background-color: $button-face;
        }

        &:active {
            background-color: $theme-control-mid-high;
        }
    }

    .toolbar-button {
        background-color: transparent;
        border-radius: 2px;
        color: $window-text;

        &:hover {
            background-color: $button-face;
            border: 1px solid $theme-border-mid;
        }

        &:active {
            background-color: $theme-control-mid-high;
        }
    }
}


.simple-border {
	border: 1px solid #808080;
	border-radius: 3px;
}

.simple-border-bottom {
	border-bottom: 1px solid #808080;
}